.container {
  /* padding: 0 2rem; */
}

.main {
  min-height: 100vh;
  padding: 40px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #141414;
}

.main h1 {
  font-size: large;
  color: #ebebeb;
  text-align: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
}
